

* {
    font-family: 'Chelsea Market', cursive;
}

body {
    background: url("../images/underground.jpg");
}

.container {
    background-color: white;

}


.table {
    border: 10px;
    border-style: groove;

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 20px;
}

.panel-body {
    margin-bottom: 50px;
}
